$texto: #3c3c3c;

/*---------------------------------------
SOBREESCRIBIENDO LOS ESTILOS DE BOOTSTRAP
---------------------------------------*/

.btn{
    border-radius:0 !important;
    padding: 1rem 6rem 1rem 6rem;
}
ion-icon:hover{
    border:pink;
}

