@import '../node_modules/bootstrap/scss/bootstrap';
@import 'variables';

/*-------------------
ESTILOS DEL DISEÑO
-------------------*/

html{
    font-size: 13px;
}

body{
    color: $texto;
    font-family: 'Open Sans', sans-serif;

}

//HEADER
.form-control{
    border: none;
}
.usuario{
    a{
        color:black;
        &:hover{
            color: grey;
        }
    }
}

    //buscador
    header{
       .form-control{
            &:focus{
                border-color: none !important;
                box-shadow: none !important;
            }
            
        }
    }

//NAV BAR
nav{
    
    .navbar-nav {
        
        .nav-item{
            .nav-link{
                margin:5px 20px 5px 0px !important;
                &:focus li{
                    background: darken($primary,10%);
                    
                }
                &:hover{
                    background: darken($primary,5%);
                    margin:5px 20px 5px 0px !important;
                            
                }
            }
            
        }
    }    
                
}
  



///////// PRODUCTO

    .envio{
        p{
            margin-bottom: 0 !important;
        }
    }
    .tipo-envio{
        a{
            color: rgb(33, 33, 207);
            text-decoration: underline;
        }
    }
    .envios{
        a{
            color: rgb(33, 33, 207);
            text-decoration: underline; 
        }
    }
    .forma-pago{
        button{
            color: rgb(33, 33, 207);
            text-decoration: underline; 
            border: none;
            background: none;
            
        } 
    }
    .comprar{
        .iconos{
            a{
                color:grey;
                &:hover{
                    color: darken(grey,15%);
                }
            }
        }
        
    }

    //modal
    .modal-content{
        box-shadow: grey;
    }
    .modal-header{
        border-bottom: none !important;

    }

    

//DESCRIPCION - FICHA TECNICA

.descripcion-ficha{
    button{
        border: none;
        background: none;
        &:active{
            color: $primary !important;
            box-shadow: none !important;
            color: $primary;
            border-bottom: 3px solid $primary;
            
        }
        &:focus{
            box-shadow: none !important;
            
            outline: none !important;
            border-bottom: 3px solid $primary;
            color: $primary;

        }
        &:hover{
            border-bottom: 3px solid $primary;
            transition: all ease-out 0.3s;
            color: $primary;
        }
    }
}

//FOOTER
.pie-de-pagina{
    .btn{
        padding: 0px !important;
        width:100px;
    }
    a{
        color: black;
        cursor: pointer;
    }

}