@import '../node_modules/bootstrap/scss/bootstrap';
@import 'variables';

/*-------------------
ESTILOS DEL DISEÑO
-------------------*/

html{
    font-size: 13px;
}

body{
    color: $texto;
    font-family: 'Open Sans', sans-serif;

}
.envio{
    p{
        margin-bottom: 0 !important;
    }
}